name: Go CI

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches:
      - main
    paths:
      - "**/*.go"
  pull_request:
    branches:
      - main
    paths:
      - "**/*.go"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Test
        run: go test -v ./...

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1.2
